
.headline-bar {
  border: 1px solid black;
}

.headline {
  text-align: center;
  font-size: 22px;
  color: #fff;
}

.body {
  background-color: black;
}

.newsBox1 {
  background: #272d42;
  margin-top: 48px;
  color: black;
  border: 5px solid black;
  border-radius: 20px;
  text-anchor: left;
}

.newsBox2 {
  color: black;
  background: red;
  border: 5px solid black;
  border-radius: 20px;
  background-image: url("assets/image9.jpg");
  background-size: 600px 200px;
  position: relative;
  height: 200px;

}

.newsBox3 {
  color: black;
  background: blue;
  border: 5px solid black;
  border-radius: 20px;
  background-image: url("assets/image10.jpg");
  background-size: 600px 200px;
}

.newsBox4 {
  color: black;
  background: blue;
  border: 5px solid black;
  border-radius: 20px;
  background-image: url("assets/image11.jpg");
  background-size: 600px 200px;
}

.newsBox5 {
  color: black;
  background: blue;
  border: 5px solid black;
  border-radius: 20px;
  background-image: url("assets/image12.jpg");
  background-size: 600px 200px;
}

h1 {
  text-align: center;
  padding-top: 30px;
}


@media screen and (max-width: 1000px) {

   body{
    background-color: #333;
   }

   .container {
    width: 600px;
   }
}    
